@import "./placeholders/placeholders";

@import "./mixin/mixin";

@import "./base/base";

@import "./fonts/fonts";

@import "./variables/variables";

body{
    opacity: 1;
    transition: all 1.75s ease-in;
}

.fade{
    opacity: 0;
    background-color: #fff;
    
}


header{
    background-color: $sand;
    background-image: url('./bg-imgs/curve.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    
}

.nav-bar{
    width: 100%;
    font-family: $mont, $sans;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin: 0 auto;
    ul{
        display: flex;
        justify-content: center;
        gap: 5rem;
        align-items: center;
        margin-top: 2.5rem;
        list-style: none;
        a{
            color: $intro-bg;

            @extend %link;
            @extend %line;
            
        }
    }
  
}

.about-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $mont, $sans;
    h1{
        margin-top: 10rem;
        font-size: 4rem;
        letter-spacing: 0.15rem;
        color: $intro-bg;
    }
}

.greeting{
    margin: 5rem 10rem;
    font-family: $mont, $sans;
    font-size: 2rem;
    color: $headers;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.about-paragraph{
    font-family: $mont, $sans;
    width: 75%;
    margin: 5rem 10rem;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
}

.tech-title{
    display: flex;
    align-items: center;
    margin: 5rem 10rem;
    font-family: $mont, $sans;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    h2{
        color: $headers;
    }
}

.tech-list{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    li{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            font-family: $mont, $sans;
            text-transform: uppercase;
            text-align: center;
            margin: 1rem auto;
        }
    }
    
}

//mobile menu
#ham-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

//sets colors of the bars
#ham-icon div {
    width: 35px;
    height: 3px;
    background-color: #6e85b7;
    margin: 3px 0;
    transition: 0.4s;
}
  
.ham-container {
    width: 100%;
    padding: 1rem 0 0 1rem;
    display: none;
}
  
  /*will rotate counterclockwise once user presses the icon which will form an X along with bar2*/
.open{
    .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);

}
/*will 'disappear' the user clicks on the icon*/
.bar2 {
  opacity: 0;
}
.bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
.mobile-menu {
    display: flex;
    flex-direction: column; /*stacks each link on top of each other on mobile*/
    align-items: center;
    justify-content: center;
    z-index: 3;
    height: auto;
    margin: 0 auto;
    top: 80px;
    width: 80%;
    right: 0;
    font-family: 'Albert Sans', sans-serif;
    box-shadow: -1px 9px 90px 180px #2d324d59;
    border-radius: 4px;
    padding: 32px 0;
    list-style: none;
    li{
        padding: 0.5rem;
        a{
            color: hsl(213, 9%, 39%);
        }
    }
}

}
  
  /*once user opens the icon the links will display in a stacked view*/
.mobile-menu {
    display: none;
    position: absolute;
    top: 50px; /*fixed height of header*/
    left: 0;
    height: calc(
      70vh - 50px
    ); /*takes the full remaining space of site hence width 100. set the height to 100 and subtract it from the height of header*/
    width: 100%;
    margin-top: 10px;
    font-size: 1.5rem;
    /*sets the background of the menu once user opens the icon. I want to make this transition more seamless. (future update)*/
    background-color: white;
    a{
        color: #000;
    }
    li{
        margin-bottom: 10px;
    }
}
    

.footer-container{
    text-align: center;
    width: 287px;
    height: 20px;
    margin: 4rem auto auto;
    p{
        font-family: $mont, $sans;
        font-weight: 700;
        color: #272626;
        font-size: 0.875rem;
        padding-bottom: 1rem;
    }
}

@import "./media/media";
  