@import "./placeholders/placeholders";

@import "./mixin/mixin";

@import "./variables/variables";

@import "./fonts/fonts";

@import "./base/base";

#work-section{
    height: 100vh;
    background-color: $beige;
    font-family: $mont, $sans;
    padding-top: 2rem;
    background-repeat: repeat-x;
    background-size: 100%;
    .work-blurb{
        text-align: center;
        font-size: 2.15rem;
        color: #272626;
        line-height: 1.5;
        width: 75%;
        margin: 0 auto;
    }
    
}

#projects-mobile{
    display: none;
}


body{
    opacity: 1;
    transition: all 1.75s ease-in;
}

.fade{
    opacity: 0;
    background-color: #fff;
    
}

.desktop-btn{
    transition: all 250ms ease-in-out;
    @extend %btn;
    font-family: $mont, sans-serif;
}

.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    background-color: $beige;
}

//Parallax effect
.background{
    transform: translateZ(-10px) scale(2);
}
  
.foreground{
    transform: translateZ(-5px) scale(1.5);
}
  
.background, .foreground{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background: $intro-bg;
}
//

.nav-bar{
    width: 100%;
    font-family: $mont, $sans;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    margin: 4rem auto;
    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        a{
            color: #fcecdd;
            @extend %link;
            @extend %line;
        }
    }

}

.title-container {
    display: flex;
    align-items: center;
    width: 75%;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 4rem;
    color: $v-light-purple;
    h1{
        font-family: $mont, $sans;
        font-weight: 300;
        font-size: 4rem;
        letter-spacing: 0.055rem;
    }
    p{
        font-family: $mont, $sans;
        font-size: 2rem;
    }
    .highlight{
        font-family: 'Albert Sans', $sans;
        font-weight: 700;
        color: $sand;
    }
  }


.contacts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    gap: 2rem;
    img{
        width: 40px;
        height: 40px;
        color: #fff;
        transition: all 300ms ease-in;
        &:hover{
            cursor: pointer;
            transform: scale(1.2);
        }

    }
}

//For mobile view not displayed on desktop or tablet view
.button-container{
    .code-btn{
        display: none;
        @extend %btn-2;
        background-color: #efefef;
        margin-right: 1rem;
    }
    
    .live-site{
        display: none;
        @extend %btn-2;
        background-color: $cta-color;
        color: #fff;
        font-weight: 700;
        letter-spacing: 0.055rem;
        font-size: 1.25rem;
        margin-left: 1rem;
    }

}
//Project Inro
.project-intro{
    font-family: $albert, $sans;
    font-weight: bold;
    color: $v-dark-blue;
    font-size: 2.125rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    
}

.swiper{
    width: 50%;
    height: auto;
}

.card{
    overflow: hidden;
    position: relative;
    z-index: 10;
    img{
        width: 100%;
        object-fit: cover;
        height: 100%;
        transition: transform 300ms ease-out;
    }
    &__details{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: $heading;
        backdrop-filter: blur(2px) brightness(1.2);
        opacity: 0;
        transition: opacity 350ms;
        &__container, &__btn{
            position: relative;
            top: 1rem;
            transition: top 350ms;
        }
        h2{
            text-align: center;
            line-height: 1.5rem;
            color: $v-dark-blue;
            font-family: $league, $sans;
            font-size: 2.5rem;
        }
        .tech-stack{
            font-family: $mont, $sans;
            font-size: 12px;
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: 1.5rem;
            span{
                border-radius: 12px;
                width: auto;
                text-align: center;
                padding: 1px 7px;

            }
            span:nth-child(1), span:nth-child(2){
                border: 1px solid $med-grey;
                color: $med-grey;
            }
            span:nth-child(3){
                background-color: $sass;
                color: #fff;
            }
            span:nth-child(4){
                background-color: $js;
                color: #272626;
            }
            span:nth-child(5){
                background-color: $api;
                color: #fff;
            }
        }

        &__btn{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            a{
                .proj-btn{
                    background-color: $btn; 
                    color: #fff;
                    cursor: pointer;
                    &:hover, &:focus{
                        filter: brightness(85%);
                    }
                    &:active{
                        transform: translateY(10px);
                    }
                }

                .code-btn{
                    background-color: rgb(238,238,238);
                    color: $v-dark-blue;
                    cursor: pointer;
                    &:hover, &:focus{
                        filter: brightness(85%);
                    }
                    &:active{
                        transform: translateY(10px);
                    }
                }
            }

            button{
                width: 150px;
                height: 50px;
                border-radius: 12px;
                border: none;
                font-weight: bold;
                cursor: pointer;
                font-size: 1rem;
                transition: all 250ms ease-in;
                
            }
        }
    }
    &:hover img{
        transform: scale(1.1);
    }
    &:hover &__details{
        opacity: 1;
    }
    &:hover &__details &__details__container, &:hover &__details &__details__btn{
        top: 0;
    }
}

.see-all-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    &__btn{
        width: 225px;
        height: 50px;
        border: none;
        font-family: $albert, $sans;
        font-weight: 700;
        background-color:$v-dark-blue;
        font-size: 1.125rem;
        color: #fff;
        transition: all 250ms ease-in;
        &:hover,&:focus{
            cursor: pointer;
            background-color: $btn;
        }
        &:active{
            transform: translateY(8px);
        }
    }
}

//fade in animation

.fadeInLeft, .fadeInRight{
    @include prefix((
        animation: fadeinLeft 2.5s both,

    ), webkit moz );
}



@keyframes fadeinLeft{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

//dynamic text

.text-container{
    width: 100%;
    height: auto;
    background: $intro-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        color: $sand;
        font-family: $albert, $sans;
        font-weight: 700;
    }
}

//mobile menu
#ham-icon {
    margin: auto 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 2rem;
    justify-content: flex-start;
}

//sets colors of the bars
#ham-icon div {
    width: 60px;
    height: 4px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
}
  
.ham-container {
    width: 100%;
    padding: 1rem 0 0 1rem;
}
  
  /*will rotate counterclockwise once user presses the icon which will form an X along with bar2*/
.open{
    .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
.bar2 {
  opacity: 0;
}
.bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
.mobile-menu {
    display: flex;
    flex-direction: column; /*stacks each link on top of each other on mobile*/
    align-items: center;
    justify-content: center;
    z-index: 3;
    height: auto;
    margin: 0 auto;
    top: 80px;
    width: 80%;
    right: 0;
    box-shadow: -1px 9px 90px 180px #2d324d59;
    border-radius: 4px;
    padding: 32px 0;
    list-style: none;
    font-family: 'Albert Sans', sans-serif;
    li{
        padding: 0.5rem;
        a{
            color: hsl(213, 9%, 39%);
        }
    }
}
}

  
  /*once user opens the icon the links will display in a stacked view*/
.mobile-menu {
    display: none;
    position: absolute;
    top: 50px; /*fixed height of header*/
    left: 0;
    height: calc(
      70vh - 50px
    ); /*takes the full remaining space of site hence width 100. set the height to 100 and subtract it from the height of header*/
    width: 100%;
    margin-top: 10px;
    font-size: 1.5rem;
    /*sets the background of the menu once user opens the icon. I want to make this transition more seamless. (future update)*/
    background-color: white;
    a{
        color: #000;
    }
    li{
        margin-bottom: 10px;
    }
}

.footer-container{
    width: 100vw;
    background-color: $footer-bg;
    height: 15%;
    margin: 0 auto;
    margin-top: 8rem;
    .footer-bar{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $footer-body;
        ul{
            display: flex;
            list-style: none;
            justify-content: space-evenly;
            width: 50%;
            align-items: center;
            font-family: $mont, $sans;
            
            a{
                li{
                    font-size: 1.125rem;
                    font-weight: 700;
                    color: $footer-body;
                    transition: text-decoration 250ms ease-in;
                    &:hover, &:focus{
                        text-decoration: underline;
                        text-decoration-color: $footer-body;
                    }


                }
            }
        }
        .resume-btn{
            border-radius: 12px;
            background-color: rgb(194, 222, 209);
            font-weight: 700;
            font-size: 1.125rem;
            border: none;
            width: 200px;
            height: 50px;
            color: #262727;
            padding: 0 0.5rem;
            margin: 2rem auto;
            cursor: pointer;
            transition: filter 250ms ease-in;
            &:hover, &:focus{
                filter: brightness(85%);
            }
        }
    }
    .attribution{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $mont, $sans;
        color: $footer-body;
    }
}

.project-container{
    position: relative;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1rem;
}

.project-grid__card{
    width: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    &__details{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #272626;
        gap: 1rem;
        width: 100%;
        padding: 0.6rem;
        background-color: rgb(196, 215, 224);
        font-family: $albert, $sans;
        text-align: center;
        h4{
            font-weight: 300;
        }
        .view-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid rgb(110, 133, 183);
            color: #272626;
            padding-bottom: 0.5rem;
            }
        }
    }
    
    @import "./media/media";


  


  
 




