

@media only screen and (min-width: 390px){

    #cactus, #spaceship, #boba{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        height: 100%;
        justify-content: space-evenly;
    }

    #art{
        overflow-x: hidden;
        .description{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            width: 100%;
            h2{
                font-family: $albert, $sans;
                font-size: 2rem;
                color: #262727;
            }
            p{
                font-family: $rale, $sans;
                width: 90%;
                color: #262727;
                text-align: center;
                font-size: 1.1rem;
                line-height: 28px;
                letter-spacing: 1px;
            }

        }
    }

    img{
        width: 300px;
        height: 300px
    }
    .explore-container{
        position: relative;
        display: flex;
        height: 100vh;
        width: 100%;
        position: relative;
        font-size: 2.25rem;
        align-items: center;
        justify-content: center;
        font-family: $albert, $sans;
        color: $bg-text;
        background-color: $bg;
        .left-page{
            position: absolute;
            left: 2.5vmin;
            top: 45vmin;
        }
        .middle-page{
            position: absolute;
            top: 75vmin;
            left: 42vmin;
        }
        .right-page{
            position: absolute;
            top: 110vmin;
            right: 17.5vmin;
        }
        .explore-btn{
            position: absolute;
            bottom: 35vmin;
            left: 25vmin;
            font-family: $albert, $sans;
            font-weight: 300;
            background-color: transparent;
            border: 2px solid $bg-text;
            letter-spacing: 1.5px;
            font-size: 1.25rem;
            width: 211px;
            height: 52px;
            color: #fff;
        }
    }

    #ham-icon {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        z-index: 2;
        align-items: flex-end;
        justify-content: flex-start;
        margin-right: 1rem;
        position: static;
    }

    .ham-container{
        display: flex;
        padding: 1rem;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: auto;
        position: relative;
        bottom: 80vmin;
    }
    .footer-container{
        width: 100vw;
        background-color: $footer-bg;
        height: 50%;
        margin: 0 auto;
        margin-top: 8rem;
        .footer-bar{
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            flex-direction: column-reverse;
            justify-content: space-evenly;
            color: $footer-body;
            gap: 2rem;
            ul{
                display: flex;
                flex-direction: column;
                list-style: none;
                justify-content: space-evenly;
                width: 50%;
                align-items: center;
                height: 80%;
                gap: 2rem;
                font-family: $mont, $sans;
                a{
                    li{
                        font-size: 1.125rem;
                        font-weight: 700;
                        color: $footer-body;
                        transition: text-decoration 250ms ease-in;
                        &:hover, &:focus{
                            text-decoration: underline;
                            text-decoration-color: $footer-body;
                    }
                    }
                }
            }
            .attribution{
                margin-bottom: 1.5rem;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $mont, $sans;
                color: $footer-body;
            }
            .resume-btn{
                margin-top: 1.5rem;
                border-radius: 12px;
                background-color: rgb(194, 222, 209);
                font-weight: 700;
                font-size: 1.125rem;
                border: none;
                width: 200px;
                height: 50px;
                color: #262727;
                padding: 0 0.5rem;
                cursor: pointer;
                transition: filter 250ms ease-in;
                margin: 2rem auto;
                &:hover, &:focus{
                    filter: brightness(85%);
            }
            }
        }
    
    }
}

@media only screen and (min-width: 768px){
    #ham-icon{
        align-items: flex-end;
        right: 1rem;
    }

    #cactus, #spaceship, #boba{
        gap: 2rem;
    }

    #art{
        .description{
            p{
                width: 95%;
                font-size: 1.25rem;
                text-align: center;
            }
            h2{
                font-size: 2.1rem;
            }
    }
}

    img{
        width: 320px;
        height: 320px;
    }

    .explore-container{
        .explore-btn{
            left: 37vmin;
        }
        .left-page{
            top: auto;
            left: 2vmin;
            bottom: 65vmin;
        }
        .middle-page{
            top: auto;
            left: 45vmin;
            bottom: 53vmin;
        }
        .right-page{
            top: auto;
            right: 10vmin;
        }
    }

    .footer-container{
        height: 50%;
        .footer-bar{
            flex-direction: column-reverse;
            justify-content: space-evenly;
            gap: 2rem;
            ul{
                flex-direction: column;
                height: 80%;
                gap: 2rem;
            }
            .attribution{
                margin-bottom: 1.5rem;
                text-align: center;
            }
            .resume-btn{
                margin-top: 1.5rem;
            }
        }
    
    }
}

@media only screen and (min-width: 1200px){
    #cactus, #spaceship{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
    
    #boba{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .ham-container{
        position: static;
    }

    #ham-icon {
        margin: auto 0;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 2rem;
        width: 100%;
        left: 2rem;
    }
    

    #art{
        padding: 1rem;
        .description{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            width: 100%;
            
            h2{
                font-family: $albert, $sans;
                font-size: 2.25rem;
                color: #262727;
            }
            p{
                font-family: $rale, $sans;
                font-size: 1.125rem;
                width: 440px;
                line-height: 1.75rem;
                letter-spacing: 1px;
                color: #262727;
                text-align: left;
            }
        }
    }
    img{
        width: 500px;
        height: 500px;

    }

    .ham-container {
        width: 100%;
        padding: 1rem 0 0 1rem;
    }

    .explore-container{
        position: relative;
        display: flex;
        height: 100vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-family: $albert, $sans;
        font-size: 2.5rem;
        color: $bg-text;
        background-color: $bg;
        .left-page{
            top: auto;
            position: absolute;
            left: 35vmin;
            bottom: 60vmin;
        }
        .middle-page{
            top: auto;
            position: absolute;
            bottom: 50vmin;
            left: 95vmin;
        }
        .right-page{
            top: auto;
            position: absolute;
            bottom: 40vmin;
            right: 45vmin;
            
            
        }
        .explore-btn{
            position: absolute;
            font-family: $albert, $sans;
            font-weight: 300;
            background-color: transparent;
            border: 2px solid $bg-text;
            letter-spacing: 1.5px;
            font-size: 1.25rem;
            width: 211px;
            height: 52px;
            bottom: 30vmin;
            left: 85vmin;
            transition: all 280ms ease-in-out;
            color: #fff;
            &:hover{
                cursor: pointer;
                color: $bg;
                background-color: $bg-text;
            }
        }
    }

    .footer-container{
        width: 100vw;
        background-color: $footer-bg;
        height: 10%;
        margin: 0 auto;
        margin-top: 8rem;
        .footer-bar{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $footer-body;
            flex-direction: row;
            ul{
                display: flex;
                list-style: none;
                justify-content: space-evenly;
                width: 50%;
                align-items: center;
                font-family: $mont, $sans;
                flex-direction: row;
                
                a{
                    li{
                        font-size: 1.125rem;
                        font-weight: 700;
                        color: $footer-body;
                        transition: text-decoration 250ms ease-in;
                        &:hover, &:focus{
                            text-decoration: underline;
                            text-decoration-color: $footer-body;
                        }
    
    
                    }
                }
            }
            .resume-btn{
                border-radius: 12px;
                background-color: rgb(194, 222, 209);
                font-weight: 700;
                font-size: 1.125rem;
                border: none;
                width: 200px;
                height: 50px;
                color: #262727;
                padding: 0 0.5rem;
                cursor: pointer;
                transition: filter 250ms ease-in;
                margin: 2rem auto;
                &:hover, &:focus{
                    filter: brightness(85%);
                }
            }
            .attribution{
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: $mont, $sans;
                color: $footer-body;
                margin-bottom: 0;
            }
        }
    }
}