@import "./base/base";

@import "./colors/colors";

@import "./font/font";

@import "./mixin/mixin";

@import "./placeholders/placeholders";

body{
    opacity: 1;
    transition: all 1.75s ease-in;
    overflow-x: hidden;
}

.fade{
    opacity: 0;
    background-color: #fff;
    
}

img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
}

#art{
    .description{
        .btn-container{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .code, .live-site{
                @extend %project;
                font-size: 1.5rem;
            }
            .live-site{
                background: $bg;
                color: #fff;
                transition: all 250ms ease-in;
                &:hover{
                    cursor: pointer;
                    background: $bg-text;
                    color: $bg;
                }
            }
            .code{
                color: $bg;
                background-color: #fef1fe;
                transition: all 250ms ease-in;
                &:hover{
                    cursor: pointer;
                    opacity: 0.85;
                }
            }
        }
    } 
}
//fade animation
.fade{
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade.appear{
    opacity: 1;
}

.from-left, 
.right{
    transition: opacity 250ms ease-in, transform 400ms ease-in;
    opacity: 0;
  
}

.from-left{
    transform: translateX(-50%);
}

.right{
    transform: translateX(50%);
}

.from-left.appear, 
.right.appear{
    transform: translateX(0);
    opacity: 1;
}

// menu
#ham-icon {
    margin: auto 0;
    cursor: pointer;
}
//sets colors of the bars
#ham-icon div {
    width: 60px;
    height: 4px;
    background-color: $bg-text;
    margin: 3px 0;
    transition: 0.4s;
}
  
.ham-container {
    width: 100%;
    padding: 1rem 0 0 1rem;
}
  
  /*will rotate counterclockwise once user presses the icon which will form an X along with bar2*/
.open{
    .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);

}
/*will 'disappear' the user clicks on the icon*/
.bar2 {
  opacity: 0;
}
.bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
.mobile-menu {
    display: flex;
    flex-direction: column; /*stacks each link on top of each other on mobile*/
    align-items: center;
    justify-content: center;
    z-index: 3;
    height: auto;
    margin: 0 auto;
    top: 80px;
    width: 80%;
    right: 0;
    box-shadow: -1px 9px 90px 180px #2d324d59;
    border-radius: 4px;
    padding: 32px 0;
    list-style: none;
    li{
        padding: 0.5rem;
        a{
            color: hsl(213, 9%, 39%);
        }
    }
}

}
  
  /*once user opens the icon the links will display in a stacked view*/
.mobile-menu {
    display: none;
    position: absolute;
    top: 50px; /*fixed height of header*/
    left: 0;
    height: calc(
      70vh - 50px
    ); /*takes the full remaining space of site hence width 100. set the height to 100 and subtract it from the height of header*/
    width: 100%;
    margin-top: 10px;
    font-size: 1.5rem;
    /*sets the background of the menu once user opens the icon. I want to make this transition more seamless. (future update)*/
    background-color: white;
    a{
        color: #000;
    }
    li{
        margin-bottom: 10px;
    }
}

@import "./media/media";


