@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/*This creates a function to create classes that already have padding and margin configurations ranging from
1rem to 5rem. all values are in rem */
.m-1 {
  margin: 1rem;
}

.my-1 {
  margin: 1rem auto;
}

.p-1 {
  padding: 1rem;
}

.px-1 {
  padding: 0 1rem;
}

.py-1 {
  padding: 1rem 0;
}

.m-2 {
  margin: 2rem;
}

.my-2 {
  margin: 2rem auto;
}

.p-2 {
  padding: 2rem;
}

.px-2 {
  padding: 0 2rem;
}

.py-2 {
  padding: 2rem 0;
}

.m-3 {
  margin: 3rem;
}

.my-3 {
  margin: 3rem auto;
}

.p-3 {
  padding: 3rem;
}

.px-3 {
  padding: 0 3rem;
}

.py-3 {
  padding: 3rem 0;
}

.m-4 {
  margin: 4rem;
}

.my-4 {
  margin: 4rem auto;
}

.p-4 {
  padding: 4rem;
}

.px-4 {
  padding: 0 4rem;
}

.py-4 {
  padding: 4rem 0;
}

.m-5 {
  margin: 5rem;
}

.my-5 {
  margin: 5rem auto;
}

.p-5 {
  padding: 5rem;
}

.px-5 {
  padding: 0 5rem;
}

.py-5 {
  padding: 5rem 0;
}

/*this is for the hover animation on the navbar. a line passes under the home and about as the user hovers*/
.nav-bar ul a {
  position: relative;
}

.nav-bar ul a::before {
  content: "";
}

.nav-bar ul a::before, .nav-bar ul a::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
}

.nav-bar ul a::before {
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transform: scale3d(0, 1, 1);
          transform: scale3d(0, 1, 1);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nav-bar ul a:hover::before {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

#art .description .btn-container .code, #art .description .btn-container .live-site {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
}

#cactus, #spaceship {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#boba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body {
  opacity: 1;
  -webkit-transition: all 1.75s ease-in;
  transition: all 1.75s ease-in;
  overflow-x: hidden;
}

.fade {
  opacity: 0;
  background-color: #fff;
}

img {
  width: 500px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.nav-bar {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  margin: 0 auto;
}

.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
  list-style: none;
}

.nav-bar ul a {
  color: #fcecdd;
}

.explore-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Albert Sans", sans-serif;
  font-size: 2.5rem;
  color: #ffd5cd;
  background-color: #8675a9;
}

.explore-container .left-page {
  position: absolute;
  left: 35vmin;
  bottom: 60vmin;
}

.explore-container .middle-page {
  position: absolute;
  bottom: 50vmin;
  left: 95vmin;
}

.explore-container .right-page {
  position: absolute;
  bottom: 40vmin;
  right: 45vmin;
}

.explore-container .explore-btn {
  position: absolute;
  font-family: "Albert Sans", sans-serif;
  font-weight: 300;
  background-color: transparent;
  border: 2px solid #ffd5cd;
  letter-spacing: 1.5px;
  font-size: 1.25rem;
  width: 211px;
  height: 52px;
  bottom: 30vmin;
  left: 85vmin;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  color: #fff;
}

.explore-container .explore-btn:hover {
  cursor: pointer;
  color: #8675a9;
  background-color: #ffd5cd;
}

#art {
  padding: 1rem;
}

#art .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  width: 100%;
}

#art .description h2 {
  font-family: "Albert Sans", sans-serif;
  font-size: 2.25rem;
  color: #262727;
}

#art .description p {
  font-family: "Raleway", sans-serif;
  font-size: 1.125rem;
  width: 440px;
  line-height: 1.75rem;
  letter-spacing: 1px;
  color: #262727;
}

#art .description .btn-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#art .description .btn-container .code, #art .description .btn-container .live-site {
  font-size: 1.5rem;
}

#art .description .btn-container .live-site {
  background: #8675a9;
  color: #fff;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

#art .description .btn-container .live-site:hover {
  cursor: pointer;
  background: #ffd5cd;
  color: #8675a9;
}

#art .description .btn-container .code {
  color: #8675a9;
  background-color: #fef1fe;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

#art .description .btn-container .code:hover {
  cursor: pointer;
  opacity: 0.85;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 250ms ease-in;
  transition: opacity 250ms ease-in;
}

.fade.appear {
  opacity: 1;
}

.from-left,
.right {
  -webkit-transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, -webkit-transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  transition: opacity 250ms ease-in, transform 400ms ease-in, -webkit-transform 400ms ease-in;
  opacity: 0;
}

.from-left {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.right {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.from-left.appear,
.right.appear {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

#ham-icon {
  margin: auto 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  top: 2rem;
  width: 100%;
}

#ham-icon div {
  width: 60px;
  height: 3px;
  background-color: #ffd5cd;
  margin: 3px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.ham-container {
  width: 100%;
  padding: 1rem 0 0 1rem;
}

/*will rotate counterclockwise once user presses the icon which will form an X along with bar2*/
.open {
  /*will 'disappear' the user clicks on the icon*/
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*stacks each link on top of each other on mobile*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  height: auto;
  margin: 0 auto;
  top: 80px;
  width: 80%;
  right: 0;
  -webkit-box-shadow: -1px 9px 90px 180px #2d324d59;
          box-shadow: -1px 9px 90px 180px #2d324d59;
  border-radius: 4px;
  padding: 32px 0;
  list-style: none;
}

.open .mobile-menu li {
  padding: 0.5rem;
}

.open .mobile-menu li a {
  color: #5a636c;
}

/*once user opens the icon the links will display in a stacked view*/
.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  /*fixed height of header*/
  left: 0;
  height: calc( 70vh - 50px);
  /*takes the full remaining space of site hence width 100. set the height to 100 and subtract it from the height of header*/
  width: 100%;
  margin-top: 10px;
  font-size: 1.5rem;
  /*sets the background of the menu once user opens the icon. I want to make this transition more seamless. (future update)*/
  background-color: white;
}

.mobile-menu a {
  color: #000;
}

.mobile-menu li {
  margin-bottom: 10px;
}

.footer-container {
  width: 100vw;
  background-color: #354259;
  height: 10%;
  margin: 0 auto;
  margin-top: 8rem;
}

.footer-container .footer-bar {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ece5c7;
}

.footer-container .footer-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
}

.footer-container .footer-bar ul a li {
  font-size: 1.125rem;
  font-weight: 700;
  color: #ece5c7;
  -webkit-transition: -webkit-text-decoration 250ms ease-in;
  transition: -webkit-text-decoration 250ms ease-in;
  transition: text-decoration 250ms ease-in;
  transition: text-decoration 250ms ease-in, -webkit-text-decoration 250ms ease-in;
}

.footer-container .footer-bar ul a li:hover, .footer-container .footer-bar ul a li:focus {
  text-decoration: underline;
  -webkit-text-decoration-color: #ece5c7;
          text-decoration-color: #ece5c7;
}

.footer-container .footer-bar .resume-btn {
  border-radius: 12px;
  background-color: #c2ded1;
  font-weight: 700;
  font-size: 1.125rem;
  border: none;
  width: 200px;
  height: 50px;
  color: #262727;
  padding: 0 0.5rem;
  cursor: pointer;
  -webkit-transition: -webkit-filter 250ms ease-in;
  transition: -webkit-filter 250ms ease-in;
  transition: filter 250ms ease-in;
  transition: filter 250ms ease-in, -webkit-filter 250ms ease-in;
  margin: 2rem auto;
}

.footer-container .footer-bar .resume-btn:hover, .footer-container .footer-bar .resume-btn:focus {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

.footer-container .attribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  color: #ece5c7;
}

@media screen and (min-width: 390px) and (max-width: 414px) {
  #cactus, #spaceship, #boba {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    height: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #art {
    overflow-x: hidden;
  }
  #art .description h2 {
    font-size: 2rem;
  }
  #art .description p {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    line-height: 28px;
  }
  img {
    width: 300px;
    height: 300px;
  }
  .explore-container {
    font-size: 2.25rem;
  }
  .explore-container .left-page {
    left: 2.5vmin;
    top: 45vmin;
  }
  .explore-container .middle-page {
    top: 75vmin;
    left: 42vmin;
  }
  .explore-container .right-page {
    top: 110vmin;
    right: 17.5vmin;
  }
  .explore-container .explore-btn {
    bottom: 35vmin;
    left: 25vmin;
  }
  .nav-bar {
    display: none;
  }
  #ham-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    z-index: 2;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: 1rem;
    position: static;
  }
  .ham-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    position: relative;
    bottom: 80vmin;
  }
  .footer-container {
    height: 50%;
  }
  .footer-container .footer-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 2rem;
  }
  .footer-container .footer-bar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80%;
    gap: 2rem;
  }
  .footer-container .footer-bar .attribution {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .footer-container .footer-bar .resume-btn {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  #ham-icon {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    right: 1rem;
  }
  #cactus, #spaceship, #boba {
    gap: 2rem;
  }
  #art .description p {
    width: 100%;
    font-size: 1.25rem;
    text-align: center;
  }
  #art .description h2 {
    font-size: 2.1rem;
  }
  img {
    width: 320px;
    height: 320px;
  }
  .explore-container .left-page {
    left: 2vmin;
    bottom: 65vmin;
  }
  .explore-container .middle-page {
    left: 45vmin;
    bottom: 53vmin;
  }
  .explore-container .right-page {
    right: 10vmin;
  }
  .explore-container .explore-btn {
    left: 45vmin;
  }
  .footer-container {
    height: 50%;
  }
  .footer-container .footer-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 2rem;
  }
  .footer-container .footer-bar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80%;
    gap: 2rem;
  }
  .footer-container .footer-bar .attribution {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .footer-container .footer-bar .resume-btn {
    margin-top: 1.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */