//About Background
$about: #C28E337A;

$bg-header: rgb(255, 194, 136);

$v-light-beige: rgb(252, 236, 221);

//$cta-color: rgb(255, 103, 1);

$orange: rgb(254, 168, 47);

$intro-bg: rgb(110, 133, 183);
$cta-color: rgb(178, 200, 223);
$v-light-purple: rgb(196, 215, 224);
$sand: rgb(248, 249, 215);
$headers: rgb(53, 66, 89);


//Project colors
$bg-proj: rgb(178, 200, 223);
$body-proj: rgb(110, 133, 183);
$heading: rgb(196, 215, 224);
$beige: rgb(248, 249, 215);
$btn: rgb(110, 133, 183);

//Neutral
$v-dark-blue: rgb(27, 29, 35);
$med-grey: rgb(125,130,143);

//footer
$footer-bg: rgb(53, 66, 89);
$footer-body: rgb(236, 229, 199);
$footer-btn: rgb(194, 222, 209);


$sass: rgb(205, 103, 153);
$js: rgb(240, 219, 79);
$api: rgb(202,73, 248);

