//First color design

$main-bg: rgb(26, 28, 32);
$body: rgb(252, 241, 241);
$accent-1: rgb(249, 129, 58);
$accent-2: rgb(255, 213, 205);

//Neutral
$neutral: #262727;

//footer
$footer-bg: rgb(53, 66, 89);
$footer-body: rgb(236, 229, 199);
$footer-btn: rgb(194, 222, 209);