*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1; 
}

a{
    text-decoration: none;
}



