*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

header{
    background-color: #C28E337A;
    background-image: url('./bg-imgs/Curve Line.svg');
    height: 50vh;
    
}