//body albert sans

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@200;300;400;700&display=swap');

$albert: "Albert Sans";
$sans: sans-serif;


//footer
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

$mont:"Montserrat";