@media only screen and (max-width: 500px){
    header{
        background-image: none;
    }

    .about-heading{
        h1{
            text-align: center;
        }
    }

    .greeting{
        margin: 5rem auto;
        justify-content: center;
    }

    .about-paragraph{
        margin: 5rem auto;
    }

    .tech-title{
        margin: 0;
        padding: 2rem;
        text-align: center;
    }

    .tech-list{
        flex-direction: column;
    }
}