
@media screen and (max-width: 500px){
    .tech-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-content: center;
    }

    .tech-title{
        h2{
            font-size: 1.6rem;

        }
    }

    header{
        background-image: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .about-heading{
        h1{
            text-align: center;
            margin-top: 0;
            font-size: 3rem;
        }
    }
    
    .greeting{
        margin: 5rem auto;
        justify-content: center;
    }
    
    .about-paragraph{
        margin: 5rem auto;
    }
    
    .tech-title{
        margin: 0;
        padding: 2rem;
        text-align: center;
    }

}

@media screen and (max-width: 768px) {
    
    header{
        background-image: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .about-heading{
        h1{
            margin-top: 0;
            font-size: 3.5rem;
        }
    }
    
    .about-info{
        margin: 2rem;
    }
    
    .about-paragraph{
        margin: 0 auto;
        width: 100%;
    }
    
    .tech-title{
        text-align: center;
    }

    .greeting{
        margin: 5rem auto;
        justify-content: center;
    }
}

@media only screen and (max-width: 390px){
    .about-heading{
        h1{
            font-size: 2.5rem;
        }
    }

    .greeting{
        h2{
            font-size: 2rem;
        }
    }

    .tech-title{
        h2{
            font-size: 1.55rem;
        }
    }
}